{
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "globals": {
    "config": true,
    "testHelper": true,
    "testEnvironment": true,
    "logger": true,
    "chai": true,
    "should": true,
    "expect": true,
    "sc": true,
    "libs": true,
    "request": true,
    "syncRequest": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 8,
    "ecmaFeatures": {}
  },
  "rules": {
    "no-undef": "error",
    "no-console": "error",
    "no-unreachable": "error",
    "indent": [
      1,
      2
    ],
    "no-unused-vars": "error",
    "prefer-arrow-callback": "warn",
    "prefer-const": "warn"
  }
}